[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.home.passwordsStorage
Exec=/usr/bin/ru.home.passwordsStorage
Name=Passwords Storage
Name[ru]=Хранилище паролей

[X-Application]
Permissions=PushNotifications;UserDirs;MediaIndexing
OrganizationName=ru.home
ApplicationName=passwordsStorage
ExecDBus=/usr/bin/ru.home.passwordsStorage
