[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.NoteExample
Exec=/usr/bin/ru.auroraos.NoteExample
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=NoteExample
ExecDBus=/usr/bin/ru.auroraos.NoteExample
